<div class="outer-app-container" [ngClass]="{darkmode: darkmode}">
  <div class="app-container">
    <app-navbar></app-navbar>
  </div>
</div>

<!-- <div class="search-container">
    <input type="text" class="search-field" placeholder="Search for any word..." />
    <i class="search-icon"></i>
</div>
<div class="search-container">
    <input type="text" class="search-field dark" placeholder="Search for any word..." />
    <i class="search-icon"></i>
</div>

<br />
<button class="play-btn">
  <svg
    width="21"
    height="21"
    viewBox="0 0 21 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 0V21L21 10.5L0 0Z"
      fill="#A445ED"
    />
  </svg>
</button>

<br> 
-->
